[Match]
Name=eth1

[Network]
Address=192.168.1.2/24

# Route section commented out per Cellular Fixes
# Having a gateway here can interfere with WWAN routing
#[Route]
#Gateway=192.168.1.1
#Metric=30
