[Match]
Name=eth0

[Network]
Address=10.10.10.2/24
# Keep route configured even without carrier, so connect() to sensor
# times out instead of instant failure. This prevents log spam when
# sensor is disconnected.
ConfigureWithoutCarrier=yes

[Route]
Gateway=10.10.10.1
Metric=40
